@model IList<Product>
@{
    ViewData["Title"] = "Index";
}

<h2>Solar System Geek Gift Shop</h2>
<section id="space-store" class="centeredPanel">
    @{

        @foreach (var product in Model)
        {
            <div id="space-product-image">
                <a asp-controller="store" asp-action="detail" asp-route-id="@product.Id">
                    <img src="~/images/@product.ImageName" alt="@product.Name" />
                </a>
            </div>
            <div id="space-product-info">
                <h4>@product.Name</h4>
                <h4 class="text-primary">@product.Cost</h4>
            </div>
        }

    }
</section>
