@model IList<Product>
@{
    ViewData["Title"] = "Index";
}


<section id="space-store" class="centeredPanel">
    @{
        <h2 id="space-store-header">Solar System Geek Gift Shop</h2>
        @foreach (var product in Model)
        {
            <div>
                <a asp-controller="store" asp-action="detail" asp-route-id="@product.Id">
                    <img id="space-product-image" src="~/images/@product.ImageName" alt="@product.Name" />
                </a>
            </div>
            <div id="space-product-info">
                <h4 id="space-product-name">@product.Name</h4>
                <h4 id="space-product-cost" class="text-primary">@product.Cost.ToString("C")</h4>
            </div>
        }

    }
</section>
