@model AlienAgeModel
@{
    ViewData["Title"] = "AlienAge";
}

<section id="calculatorResult" class="centeredPanel">
    <h1 id="alien-age-header">Alien Age Calculator</h1>
<form asp-action="AlienAgeResult" asp-controller="calculators">
    <label id="alien-age-label" asp-for="Planet"></label>
    <select id="alien-age-select" asp-for="Planet" asp-items="AlienAgeModel.planets"></select>
    <div></div>
    <label id="earth-age-label" asp-for="EarthAge"></label>
    <input id="earth-age-input" asp-for="EarthAge" type="number"/>

    <input class="btn btn-default btn-small" type="submit" value="Calculate Age" />
</form>


</section>