@model AlienTravelModel
@{
    ViewData["Title"] = "AlienTravel";
}
<section id="calculatorResult" class="centeredPanel">
    <h2>AlienTravel</h2>
<form method="get" asp-action="AlienTravelResult" asp-controller="calculators">
    <label asp-for="Planet" ></label>
    <select asp-for="Planet" asp-items="AlienTravelModel.planets"></select>

    <label asp-for="ModeOfTransport"></label>
    <select asp-for="ModeOfTransport" asp-items="AlienTravelModel.transportationModes"></select>

    <label asp-for="EarthAge"></label>
    <input asp-for="EarthAge" type="number" placeholder="Enter Age Here:" />

    <input type="submit" value="Calculate" />
</form>

</section>
