@model AlienTravelModel
@{
    ViewData["Title"] = "AlienTravel";
}
<section id="calculatorResult" class="centeredPanel">
    <h2>AlienTravel</h2>
<form method="get" asp-action="AlienTravelResult" asp-controller="calculators">
    <label asp-for="Planet" ></label>
    <select asp-for="Planet" asp-items="AlienTravelModel.planets"></select>


    <input class="btn btn-default btn-sm" type="submit" value="Calculate" />
</form>

</section>
