@model AlienWeightModel

@{
    ViewData["Title"] = "Alien Weight Result";
}


<section id="calculatorResult" class="centeredPanel">

    <h1>Your weight on @Model.Planet is @Model.GetConvertedWeight() lbs. </h1>

</section>