@model AlienTravelModel
@{
    ViewData["Title"] = "AlienTravelResult";
    var years = Math.Round(Model.CalculateTimeToTravel() / 8706, 2);
}


<h1 id="alien-travel-result-header">Your Alien Travel Time</h1>

<section id="alien-travel-result" class="centeredPanel">
    <div></div>
    <img id="travel-image" src="~/images/@(Model.Planet).jpg" />
    <h2 id="travel-result-info">Traveling by @Model.ModeOfTransport, you will reach @Model.Planet in @years years. You will be @((years + Model.EarthAge).ToString("F2")) years old.  </h2>

</section>