body {
    background-image: url("https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0ae83373fe7bf60aaf6ceb8daa337fc9&auto=format&fit=crop&w=1057&q=80");
    width: 90%;
    font-family: sans-serif;
    margin: 0 auto;
}

ul {
    padding: 0px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

p, label, div.form-field {
    font-size: 14px;
}

header {
    margin: 25px;
}

    header h1 {
        font-size: 30px;
        color: #FFFFFF;
    }

    header p {
        color: #FFFFFF;
        font-size: 12px;
    }

    header img {
        height: 110px;
    }

nav {
    margin-top: 25px;
}

    nav h2, nav p {
        color: #FFF;
        margin-left: 25px;
    }

    nav p {
        font-size: 12px;
        font-style: italic;
    }



li {
    padding-bottom: 4px;
}

    li a {
        color: #0D118B;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
    }

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

    nav ul li {
        background-color: #FFF;
        border-radius: 8px;
        list-style: none;
        text-align: center;
        flex-grow: 1;
        padding-top: 5px;
        margin: 0 10px;
        max-width: 200px;
    }



li a:hover {
    text-decoration: underline;
}

#planets {
    display: flex;
}

#alien-weight-label, #earth-weight-label,
#alien-age-label, #earth-age-label,
#alien-travel-label, #travel-style {
    padding-left: 2rem;
    padding-right: 1rem;
}


/*** Weight Calculator ***/


#alien-weight-header {
    padding: 2rem;
    text-align: center;
}

#alien-weight-select {
    margin-left: 5rem;
}


/*** Age Calculator ***/

#alien-age-header {
    padding: 2rem;
    text-align: center;
}

#alien-age-select {
    margin-left: 3.3rem;
}

#earth-age-input {
    margin-left: 4rem;
}


/*** Travel Calculator ***/

#alien-travel-result-header {
    clear: both;
    width: 90%;
    background-color: #FFF;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin: 20px auto;
    margin-bottom: -2rem;
}

#alien-travel-header, #alien-travel-result-header {
    padding: 2rem;
    text-align: center;
}

#alien-travel-select {
    margin-left: 10rem;
}

#travel-style-select {
    margin-left: 2rem;
}


#alien-travel-button {
    margin-left: 24rem;
}

#alien-travel-age {
    margin-left: 2rem;
}

#alien-travel-age-input {
    margin-left: 8rem;
}

#travel-image {
    height: 20rem;
}

#travel-result-info {
    padding: 2rem;
}


.planets * {
    color: #FFFFFF;
}

.planets p {
    width: 80%;
    margin: 25px;
    text-align: left;
}

.planets img {
    width: 250px;
    height: 250px;
    border-color: #FFFFFF;
    border-width: 8px;
    border-style: solid;
}

.planets {
    text-align: center;
}

.planet {
    min-height: 700px;
    vertical-align: top;
    width: 80%;
    margin: 0 auto;
}

    .planet p {
        margin-left: auto;
        margin-right: auto;
    }


.value {
    color: green;
    font-weight: bold;
}

form div {
    padding: 10px 0px;
}

    form div label {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        padding-left: 25px;
        color: black;
    }

form .field-validation-error {
    color: red;
    font-size: 13px;
    font-weight: bold;
}

form button {
    text-align: center;
    margin-left: 229px;
}

input[type=text], input[type=datetime], textarea {
    width: 300px;
}

table tr:first-child {
    padding-bottom: 10px;
    font-size: 1.1em;
}

table td {
    min-width: 75px;
    padding: 5px 5px;
}

section.centeredPanel {
    clear: both;
    display: block;
    width: 90%;
    /*vertical-align: top;*/
    min-height: 450px;
    background-color: #FFF;
    border-radius: 7px;
    margin: 20px auto;
}

    section.centeredPanel h2 {
        color: #000000;
        text-align: center;
        padding-top: 15px;
    }

    section.centeredPanel p {
        color: #000;
        text-align: left;
    }


/* 
    The width should be inherited so that 
    the stripe resembles the width of our section.centeredPanel
*/
.table-striped {
    width: inherit;
}
