body {
    background-image: url("../images/ssgeek-bg.jpg");
    width: 90%;
    font-family: sans-serif;
    margin: 0 auto;
}

ul {
    padding: 0px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

p, label, div.form-field {
    font-size: 14px;
}

header {
    margin: 25px;
}

    header h1 {
        font-size: 30px;
        color: #FFFFFF;
    }

    header p {
        color: #FFFFFF;
        font-size: 12px;
    }

    header img {
        height: 110px;
    }

nav {
    margin-top: 25px;
}

    nav h2, nav p {
        color: #FFF;
        margin-left: 25px;
    }

    nav p {
        font-size: 12px;
        font-style: italic;
    }



li {
    padding-bottom: 4px;
}

    li a {
        color: #0D118B;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
    }

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

    nav ul li {
        background-color: #FFF;
        border-radius: 8px;
        list-style: none;
        text-align: center;
        flex-grow: 1;
        padding-top: 5px;
        margin: 0 10px;
        max-width: 200px;
    }



li a:hover {
    text-decoration: underline;
}

#planets {
    display: flex;
}

#alien-weight-label, #earth-weight-label,
#alien-age-label, #earth-age-label,
#alien-travel-label, #travel-style {
    padding-left: 2rem;
    padding-right: 1rem;
}


/*** Weight Calculator ***/

#alien-weight-result {
    display: flex;
}

#alien-weight-result-header {
    clear: both;
    width: 90%;
    background-color: #FFF;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin: 20px auto;
    margin-bottom: -3rem;
    padding: 1rem;
    text-align: center;
}

#alien-weight-header {
    padding: 2rem;
    text-align: center;
}

#alien-weight-select {
    margin-left: 5rem;
}


/*** Age Calculator ***/

#alien-age-result {
    display: flex;
}

#alien-age-header {
    padding: 2rem;
    text-align: center;
}

#alien-age-select {
    margin-left: 3.3rem;
}

#earth-age-input {
    margin-left: 4rem;
}

/*** Travel Calculator ***/

#alien-travel-result-header {
    clear: both;
    width: 90%;
    background-color: #FFF;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin: 20px auto;
    margin-bottom: -2rem;
}

#alien-travel-header, #alien-travel-result-header {
    padding: 2rem;
    text-align: center;
}

#alien-travel-select {
    margin-left: 10rem;
}

#travel-style-select {
    margin-left: 2rem;
}


#alien-travel-button {
    margin-left: 24rem;
}

#alien-travel-age {
    margin-left: 2rem;
}

#alien-travel-age-input {
    margin-left: 8rem;
}

#travel-image, #age-image, #weight-image {
    height: 15rem;
    margin: 1rem;
}

#alien-travel-result {
    display: flex;
}


#travel-result-info {
    padding: 2rem;
}

/*** Space Store ***/
#space-store {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

#space-product-info {
    margin-top: 1.5rem;
}

#space-store-header {
    grid-column: 1 / span 2;
    padding: 1.5rem;
}

#total-header {
    text-align: right;
    padding-right: 2rem;
}

#space-product-image {
    height: 15rem;
    padding: 1rem;
}

#grand-total-label {
    padding: 1.5rem;
    font-weight: bold;
}

#space-product-name {
    font-weight: bold;
}

#space-product-cost {
    color: #00A8E1;
    font-weight: bold;
}

#detail-img {
    height:20rem;
    padding:1rem;
    float:left;
}

.detail-label {
    margin-right: 5rem;
}

#detail-product-name {
    text-align: left;
    margin-left: -0.3rem;
    margin-top: -3rem;
    font-weight: bold;
}

#detail-content {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

#detail-description {
    width: 45%;
}

#Add-To-Cart-Form {
    margin-right: 5rem;
    text-align:center;
}

#add-to-cart-btn {
    background-color: #00A8E1;
    color: #FFFFFF;
    margin: 1rem;
}

section.centeredPanel h2 {
    margin-left: 2rem;
    margin-right: 2rem;
}


.planets * {
    color: #FFFFFF;
}

.planets p {
    width: 80%;
    margin: 25px;
    text-align: left;
}

.planets img {
    width: 250px;
    height: 250px;
    border-color: #FFFFFF;
    border-width: 8px;
    border-style: solid;
}

.planets {
    text-align: center;
}

.planet {
    min-height: 700px;
    vertical-align: top;
    width: 80%;
    margin: 0 auto;
}

    .planet p {
        margin-left: auto;
        margin-right: auto;
    }


.value {
    color: green;
    font-weight: bold;
}

form div {
    padding: 10px 0px;
}

    form div label {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        padding-left: 25px;
        color: black;
    }

form .field-validation-error {
    color: red;
    font-size: 13px;
    font-weight: bold;
}

form button {
    text-align: center;
    margin-left: 229px;
}

input[type=text], input[type=datetime], textarea {
    width: 300px;
}

table tr:first-child {
    padding-bottom: 1rem;
    font-size: 1.1em;
}

#subtotal {
    text-align: right;
    padding-right: 2rem;
}

#grand-total-amount {
    padding-right: 2rem;
    padding-bottom: 1rem;
    text-align: right;
}

#space-checkout {
    font-weight: bold;
    padding: 0.5rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    text-decoration: underline;
    text-align: right;
}

table {
    width: 100%;
}

table td {
    min-width: 12rem;
    padding: 5px 5px;
}

section.centeredPanel {
    clear: both;
    display: block;
    width: 90%;
    /*vertical-align: top;*/
    min-height: 450px;
    background-color: #FFF;
    border-radius: 7px;
    margin: 20px auto;
    position: relative;
}

    section.centeredPanel h2 {
        color: #000000;
        text-align: center;
        padding-top: 15px;
    }

    section.centeredPanel p {
        color: #000;
        text-align: left;
    }


/*** Space Forum ***/
/* 
    The width should be inherited so that 
    the stripe resembles the width of our section.centeredPanel
*/
.table-striped {
    width: inherit;
}

p.text-center {
    text-align:center !important;
}

label.label {
    margin-right: 2em;
    color: black !important;
    vertical-align: top !important;
}

#space-forum-post {
    text-align: center;
}

.forum-post-info {
    display: block;
}

#submit-post {
    margin-left:45rem;
}

